{% extends 'base.html' %}

{% block title %}

Details for {{ dog.name }} | Dog Collector

{% endblock %}


{% block content %}
<h1>Dog Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ dog.name }}</span>
                <p>Breed: {{dog.breed }}</p>
                <p>Description: {{dog.description }}</p>
                {% if dog.age > 0 %}
                <p>Age: {{ dog.age }}</p>
                {% else %}
                <p>Age: Puppy</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'dogs_update' dog.id %}">Update</a>
                <a href="{% url 'dogs_delete' dog.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="col s6">
            <form action="{% url 'add_feeding' dog.id %}" method="POST">
              {% csrf_token %} 
              {{ feeding_form.as_p }}
              <input type="submit" class="btn" value="Add Feeding" />
            </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Meal</th>
                </tr>
            </thead>
            <tbody>
                {% for feeding in dog.feeding_set.all %}
                <tr>
                    <td>{{ feeding.date }}</td>
                    <td>{{ feeding.get_meal_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr >
<div class="row">
  <div class="col s6">
    <h3>{{ dog.name }}'s Toys</h3>
    {% if dog.toys.count %} {% for toy in dog.toys.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
            A <span class="{{ toy.color.lower }}-text">{{ toy.color.capitalize }}</span> {{ toy.name }}
        </span>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{ dog.name }} doesn't have any toys</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Available Toys</h3>
        {% if toys.count %}
            {% for toy in toys.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        A <span class="{{ toy.color.lower }}-text">
                            {{ toy.color.capitalize }}</span> {{ toy.name }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'assoc_toy' dog.id toy.id %}" method="POST">
                        {% csrf_token %}
                        <input class= "btn green" type="submit" value="Add">
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <h5>{{ dog.name }} has all available toys</h5>
        {% endif %}
    </div>
</div>
<script>
    const dateField = document.getElementById('id_date');
    const mealSelect = document.getElementById('id_meal');

    M.Datepicker.init(dateField, {
        format: 'mmm dd, yyyy',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    M.FormSelect.init(mealSelect);
</script>

{% endblock %}